<!DOCTYPE html>
<html>
<head>
	<title>Stark Internship</title>
  <style>
    <%= stylesheet_link_tag 'application.css' %>
  </style>
</head>
<body style="background-color: black">
  <p>
   <%= image_tag "stark-desk.jpg", width: 900 %>
  </p>
<h1>Stark Internship</h1>
<h2>Genius - Billionaire - Playboy - Philanthropist</h2>
<p><em>"My philosophy, in essence, is the concept of man as a heroic being, with his own happiness as the moral purpose of his life, with productive achievement as his noblest activity, and reason as his only absolute." Ayn Rand, Atlas Shrugged
</em></p>
<br>
<div class="form-row text-center">
    <div class="col-12">
  <a href="#" class="btn btn-danger" role="button">Genius</a>
  <a href="#" class="btn btn-danger" role="button">Billionaire</a>
  <a href="/about" class="btn btn-danger" role="button">Playboy</a>
  <a href="#" class="btn btn-danger" role="button">Philanthropist</a>
  <br>
  <br>
  <a href="#" class="btn btn-danger" role="button">ENTER</a>
    </div>
</div>

</body>
</html>
