<!DOCTYPE html>
<html>
<head>
	<title>Stark Internship</title>
  <style>
    body {
      background: black;
    }
  </style>
</head>
<body style="background-color: black">
  <p>
   <%= image_tag "stark-desk.jpg", width: 800 %>
  </p>
<h1>Stark Internship</h1>
<h2>Genius - Billionaire - Playboy - Philanthropist</h2>
<p><em>"My philosophy, in essence, is the concept of man as a heroic being, with his own happiness as the moral purpose of his life, with productive achievement as his noblest activity, and reason as his only absolute." Ayn Rand, Atlas Shrugged
</em></p>
<br>
<div class="form-row text-center">
    <div class="col-12">
  <button type="button" class="btn btn-danger">Genius</button>
  <button type="button" class="btn btn-danger">Billionaire</button>
  <button type="button" class="btn btn-danger">Playboy</button>
  <button type="button" class="btn btn-danger">Philanthropist</button>
</div>
</div>

</body>
</html>
