<!DOCTYPE html>
<html>
<head>
	<title>Stark Internship</title>
</head>
<body>
  <p>
    <%= image_tag "stark-desk.jpeg", width: 800 %>
  </p>
<h1>Stark Internship</h1>
<h1>Genius - Billionaire - Playboy - Philanthropist</h1>
<p><em>"My philosophy, in essence, is the concept of man as a heroic being, with his own happiness as the moral purpose of his life, with productive achievement as his noblest activity, and reason as his only absolute." Ayn Rand, Atlas Shrugged
</em></p>
<button type="button" class="btn btn-danger">Genius</button>
<button type="button" class="btn btn-danger">Billionaire</button>
<button type="button" class="btn btn-danger">Playboy</button>
<button type="button" class="btn btn-danger">Philanthropist</button>
<br>

</body>
</html>
