<h1>RoR - $ - ({})</h1>
<br>
<p>
 <%= image_tag "cave.jpg", width: 900%>
</p>
<h2>Whatever it takes...</h2>
<h3>Genius - Billionaire - Playboy - Philanthropist</h3>
<h1>RoR - $ - ({})</h1>
<br>
<h4>2021 - Ruby on Rails: Sara Jean Underwood Rails Udemy Course:</h4>
<p>July: 7/26, 7/27, <br> August: 8/2, 8/3, 8/9, 8/10, 8/11, <br> September: 9/14, 9/15, 9/16, 9/17, 9/20,
  9/21, 9/22, 9/23, 9/24, 9/27, 9/28, 9/29, 9/30 <br>October: 10/6, 10/7, 10/8</p> <br>
<h4>2021 - iOS: Angela Yu Complete iOS App Development Bootcamp Udemy Course:</h4>
<p>12/20/21 - Begin bootcamp (1-12)<br>
12/21/21 - Download Xcode, continue bootcamp (13-20)<br>
12/22/21 - Canva, App Icons, etc. (21-33)<br>
12/23/21 - Begin Dicee App (34-36)<br>
12/24/21 - Continue Dicee App (37-43)<br>
1/10/22 - Continue Dicee App (44-49)<br>
1/11/22 - Magic 8 Ball App (50-54) <br>
1/12/22 - Review Dicee App (36-37) <br>
1/13/22 - Review Dicee App / Magic 8 Ball App (37-41, 50-57)<br>
1/14/22 - Auto Layout (58-62)</p>
