<h1>RoR - $ - ({})</h1>
<h2>Learn Rails - Make money - Get pussy</h2>
<br>
<p>
 <%= image_tag "railstutorial.jpg", width: 345%>
  <%= image_tag "atlasrockefeller.jpg", width: 300%>
   <%= image_tag "fedor1.jpg", width: 300%>
</p>
<br>

<h1><strong>I will build a million dollar app with RubyMotion</strong></h1>
<h3><strong> - because - <strong></h3>
<h2><em>"Tony Stark was able to build this in a cave...<br>with a box of scraps!"</em></h2>

<h3>THE PLAN:<br><em>
    Build muscle with Body Beast.<br>
    Learn Ruby on Rails.<br>
    Earn $10,000 as a Rails developer.<br>
    Build a million dollar app with RubyMotion.<br>
    Build a net worth of $50 Million.<br></em>
</h3>
<h3>. . .</h3>
<h3><em>"I swear, by my life and my love of it, that I will never live for the sake of another man, <br> nor ask another man to live for mine."</em></h3>
