<h1>RoR - $ - ({})</h1>
<br>
<p>
 <%= image_tag "dawnprayer.jpg", width: 450%>
  <%= image_tag "failscott.jpg", width: 450%>
</p>
<h2>RoR</h2>
<h3>
  <strong>MOONRAKER</strong><br>
  Take Cold showers.<br>
  Code for one Hour.<br>
  Arise at 4:30AM.<br>
  Retire at 10PM.<br>
  Listen to the Book of Mormon.<br><br>
  <strong>WORK</strong><br>
  Arrive to work on Time.<br>
  Invest time in CME.<br>
  Talk slowly when discussing cases.<br>
  See all patients.<br><br>
  <strong>PM</strong><br>
  Write Affirmations.<br>
  Stay off your phone.<br>
  Enter their Spirit.<br><br>
  <strong>EVE</strong><br>
  Read PUA books.<br>
  Do Sexy & Sinister.<br>
  Plan with Yinsen.<br>
</h3><br>
<p>
 <%= image_tag "starkmit.jpg", width: 900%>
</p>
