<h1>RoR - $ - ({})</h1>
<p>
 <%= image_tag "chalice.png", width: 900%>
</p>
<br>
<h3><em>"I swear, by my life and my love of it, that I will never live for the sake of another man, <br> nor ask another man to live for mine." - Ayn Rand, Atlas Shrugged</em></h3>
<br>
<p>
 <%= image_tag "blood2.jpg", width: 900%>
</p>
<br>
<h3><em>"Respect Buddha and the gods without counting on their help." - Miyamoto Musashi, Dokkodo</em></h3>
<br>
<p>
 <%= image_tag "christ.jpg", width: 900%>
</p>
<br>
<br>
<br>
<p>
 <%= image_tag "eiheiji.jpg", width: 900%>
</p>
<br>
<div class="form-row text-center">
    <div class="col-12">
      <a href="/overview" class="btn btn-dark" role="button">RoR - $ - ({})</a>
    </div>
</div>
