<h1>RoR - $ - ({})</h1>
<br>
<p>
 <%= image_tag "natural.jpg", width: 900%>
</p>
<h2>({})</h2>
<h3>
  Ruby on Rails<br>
  Sexy & Sinister<br>
  Manscaping<br>
  PUA training<br>
  Russian fluency<br>
  Badass leather jacket<br>
  "James Bond" watch<br>
  "Panty Dropper" signature scent<br>
  German sports car<br>
</h3><br>
<p>
 <%= image_tag "tuxedo.jpg", width: 900%>
</p>
