<h1>RoR - $ - ({})</h1>
<br>
<p>
 <%= image_tag "standup.jpg", width: 900%>
</p>
<h2>({})</h2>
<h3>
  Ruby on Rails<br>
  Sexy & Sinister<br>
  Manscaping<br>
  PUA training<br>
  Russian fluency<br>
  Badass leather jacket<br>
  Rolex Oysterflex Daytona<br>
  Sexy signature scent<br>
  Salsa / Bachata<br>
  Stand up comedy<br>
  Hot Yoga classes<br>
  Volunteering<br>
</h3><br>
<p>
 <%= image_tag "girlslaugh.jpg", width: 900%>
</p>
